            <!-- 添加确认弹窗 -->
            <div class="modal fade" id="basicTaskModal" tabindex="-1" role="dialog" aria-labelledby="basicTaskModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" id="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"></h4>
                        </div>

                        <form action="#" class="form-horizontal" method="post" role="form">

                            <div class="modal-body">

                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="submit" name="task_status" value=0 class="btn btn-sm btn-success">保存</button>
                                <button type="submit" name="task_status" value=1 class="btn btn-sm btn-primary">保存且发布</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- 添加确认弹窗结束 -->

